
<input type="number" [(ngModel)]="time">

<h1 *ngIf="time<12">GOOD MORNING</h1>
<h1 *ngIf="time>=12&&time<17">GOOD AFTERNOON</h1>
<h1 *ngIf="time>=17">GOOD NIGHT</h1>






<h1 *ngFor="let age of ages">Age is{{age}}</h1>
<p *ngFor="let state of states">{{state}}</p>

<ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>
<select name="" id="">
    <option value="" *ngFor="let state of states ">{{state}}</option>

</select>
<h2 *ngFor="let user of users">Name is {{user.name}} and age is {{user.age}} and phone is {{user.phone}}</h2>

<input type="text" [(ngModel)]="term" (keypress)="filter()" name="" id="">
<button (click)="ageHighToLow()">age high to low</button>
<button (click)="ageLowToHigh()">age low to high</button>
<button (click)="increaseByOne()">increase by one</button>
<button (click)="total()">total age</button>

<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Age</th>
            <td>marks</td>
            <th>Phone</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;let i = index">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td [ngClass]="{'child':user.age<12,'teen':user.age>12&&user.age<19,'young':user.age>19}">{{user.age | age}}</td>
            <td [ngStyle]="{'color': user.marks>35 ? 'green':'red'}">{{user.marks}}</td>
            <td>{{user.phone}}</td>
            <td>
                <button class="btn btn-danger" (click)="delete(i)">delete</button>
            </td>
        </tr>
    </tbody>

</table>
