<p>dice works!</p>

<div class="parent">
    <div class="child">
        <h1>DICE</h1>
        <br><br>
        <button (click)="dice()">Randomnumber</button>
        <br><br>
        <img src="assets\dice1.png" alt="" *ngIf="num1==1">
        <img src="assets\dice2.png" alt="" *ngIf="num1==2">
        <img src="assets\dice3.png" alt="" *ngIf="num1==3">
        <img src="assets\dice4.jpeg" alt="" *ngIf="num1==4">
        <img src="assets\dice5.jpeg" alt="" *ngIf="num1==5">
        <img src="assets\dice6.jpeg" alt="" *ngIf="num1==6">
    </div>
</div>