.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    /* flex-direction: column; */
}
.child{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 218, 199);
    flex-direction: column;
    border-radius: 15px;
}
input{
    border-radius: 10px;
    height: 40px;
    
}
button{
   background-color: rgb(234, 43, 49);
   width: 100px;
   height: 30px;
   margin-left: 30px;
   border-radius: 10px;
   
}


