.parent{
    background-color: grey;
}
.child{
    background-color: rgb(197, 202, 197);
}
.row{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: blue;

}
button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}
.middle{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.m1{
    width: 300px;
    height: 350px;
    border: 2px solid;
    margin: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
}
img{
    margin-left: 20px;
}
A{
    margin-left: 100px;
}
h1{
    color: white;
}
p{
    color: white;
}
select{
    background-color: grey;
    width: 80px;
    height: 35px;
    margin: 10px;
    margin-left: 210px;
    border-radius: 10px;
    color: wheat;
}