.parent{
    width:auto;
    height: auto;
    background-color:white ; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 100%;
    margin-top: 50px;
    background-color: greenyellow;
    border-radius: 10px;
    overflow: auto;

}

label{
    width: 100px;
    margin-left: 20px;
   
}
button{
    width: 150px;
    margin-left: 150px;
}
input{
    border-radius:  10px;
    cursor: pointer;
    height: 30px;
}
