<p>child works!</p>
<!-- <h1>Getting value from parent</h1>
<input type="number" [(ngModel)]="bc" (keyup)="send()">
<h3>Ac:{{ac}}</h3> -->

<!-- rating task -->

<!-- <label>rating:</label>
<img src="assets\star1.png" *ngIf="ud==1">
<img src="assets\starimg2.png" *ngIf="ud==2">
<img src="assets\star3.jpeg" *ngIf="ud==3">
<img src="assets\starimg4.jpeg" *ngIf="ud==4">
<img src="assets\starimg5.jpeg" *ngIf="ud==5"> -->

<!-- calculator task -->


<button class="btn btn-primary" (click)="sum()">SUM</button>
&nbsp;
<button class="btn btn-success" (click)="sub()">SUB</button>
&nbsp;
<button class="btn btn-danger" (click)="mul()">MUL</button>